<div class="row mb-2 sent-by-match">
  <div class="col-sm-2 col-lg-1 text-left">
    <%= cl_image_tag message.user.photos.first.key, class: 'rounded-circle', width: '40px', height: '40px' if message.user.photos.any? %>
  </div>
  <div class="col-sm-10 col-lg-11">
    <div class="float-left p-2 rounded conversation-message">
      <%= simple_format message.body %>
    </div>
  </div>
</div>
