<% if @conversations && @conversations.size > 0 %>
  <% @conversations.each do |conversation| user = get_user_from_conversation(conversation) %>
    <div class="row">
      <div class="col open-conversation" data-id="<%= user.id if user %>">
        <%= profile_thumbnail user %>
          <strong><%= user.first_name if user %>:</strong>
          <%= conversation.messages.last.body if conversation.messages.any? %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>No messages to display.</p>
<% end %>
