<% if @conversations && @conversations.size > 0 %>
  <% @conversations.each do |conversation| user = get_user_from_conversation(conversation) %>
    <div class="row">
      <div class="col open-conversation" data-id="<%= user.id if user %>">
        <%= profile_thumbnail user %>
        <div class="d-inline-block align-middle">
          <strong><%= user.first_name if user %></strong>
          <p class="m-0"><%= conversation.messages.last.body if conversation.messages.any? %></p>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <p>No messages to display.</p>
<% end %>
