<div class="bg-danger profile-bar">
  <%= link_to "", class: "d-block h3 text-white pl-2 pt-2 pb-2" do %>
    <%= image_tag 'angela.jpg', width: '40px', height: '40px', class: 'profile-thumb rounded-circle mr-3' %>
    My Profile
  <% end %>
</div>
